<h1>BE InTouch</h1>
<img src="http://static.wixstatic.com/media/a4bcb6_fc1ada50a1b24581a544f35f5b620c6f.jpg_srz_633_410_85_22_0.50_1.20_0.00_jpg_srz">


<h1>Our Professionals</h1>
<hr>

<% @professionals.each do |professional| %>
	<h2>Name: <%= professional.name %></h2>
	<h3>Title: <%= professional.title %></h3>
	<h4>Website: <%= professional.website %></h4>
	<h4>Email: <%= professional.email %></h4>

	<hr>
<% end %>